/* Remove number input spinners in WebKit browsers (Chrome, Safari, Edge) */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input spinners in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}


/* Custom scrollbar styling */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f59e0b, #d97706);
  border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #d97706, #f59e0b);
  cursor: pointer;
}

